<div>
{% if collections.postCategories.length %}
<h2>Categories</h2>
<ul>
{% for category in collections.postCategories %}
<li><a href="/category/{{ category | slug }}/"{% if page.url == '/category/' + (category | slug) + '/' %} aria-current="page"{% endif %}>{{ category }}</a></li>
{% endfor %}
</ul>
{% endif %}

{% if collections.postTagsWithCounts.length %}
<h2>Tags</h2>
<ul>
{% for item in collections.postTagsWithCounts %}
{% if loop.index <= 6 %}
<li><a href="/tag/{{ item.tag | slug }}/"{% if page.url == '/tag/' + (item.tag | slug) + '/' %} aria-current="page"{% endif %}>{{ item.tag }}</a></li>
{% endif %}
{% endfor %}
</ul>
<details>
<summary>All tags</summary>
<ul>
{% for item in collections.postTagsWithCounts | sort(false, false, 'tag') %}
<li><a href="/tag/{{ item.tag | slug }}/"{% if page.url == '/tag/' + (item.tag | slug) + '/' %} aria-current="page"{% endif %}>{{ item.tag }}</a></li>
{% endfor %}
</ul>
</details>
{% endif %}

<h2>Find me on</h2>
{% include "partials/socials.html" %}
</div>
