{% for item in postListItems %}
<article class="item-post">

<h2><a href="{{ item.url }}">{{ item.data.title }}</a></h2>
<time datetime="{{ (item.data.date or item.date) | dateFilter('yyyy-MM-dd') }}">{{ (item.data.date or item.date) | dateFilter }}</time>
<p>{{ item.data.postSummary }}</p>

{% if item.data.postCategories or item.data.postTags %}
<ul class="post-meta">
{% for category in item.data.postCategories %}<li><a href="/blog/category/{{ category | slug }}/">{{ category }}</a></li>{% endfor %}
{% for tag in item.data.postTags %}<li><a href="/blog/tag/{{ tag | slug }}/">{{ tag }}</a></li>{% endfor %}
</ul>
{% endif %}

</article>
{% endfor %}
